# =============================================================================
# OS & System
# =============================================================================

# macOS
.DS_Store

# Windows
Thumbs.db

# General Files
*.log
*.zip
*.tar.gz
*.rar

# =============================================================================
# Programming Languages & IDEs
# =============================================================================

# Java
*.class
*.jar
*.war
*.nar
*.ear
.idea/
target/

java-spring/src/main/resources/Payment Process.bpmn

# Python
__pycache__/
*.py[cod]
.venv/

# Node
node_modules/
npm-debug.log*

# .NET
bin/
obj/
